h1 {
    color: red;
}

/*Estoy probando colores y fuentes */
p {
    color: blue;
    font-size: 16pt;
}
/* Solo los parrafos  e id=primera-noticia */
p#primera-noticia{
    color: green;
    font-size: 12pt;
}

#segunda-noticia{
    color: darkmagenta;
}

/*selectores de clase */
.encabezado {
    font-size: 24pt;
    text-transform: uppercase;
}

/* todas la s etiquetas */
/* * {
    color: yellow;
}*/

*.warning {
    color: red;
}

.autor, .fecha, .ubicacion, h1, #segunda-noticia {
    text-decoration: underline;
}
