<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAT8EGSkRTwlbeT-hDV5oUr7EL7yssI580</string>
	<key>GCM_SENDER_ID</key>
	<string>411319047837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testDigitosWisc</string>
	<key>PROJECT_ID</key>
	<string>test-digitos-wisc-308ce</string>
	<key>STORAGE_BUCKET</key>
	<string>test-digitos-wisc-308ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411319047837:ios:5d63c2804e4868c401a674</string>
</dict>
</plist>